@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Prompt", sans-serif;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 4rem;
    gap: 4rem;
}

h2 {
    font-size: 35px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-left: 1rem;
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    min-width: 100%;
    align-items: flex-start;
}

.item {
    min-width: 400px;
    height: 250px;
    background-color: #a3ad95;
}

