@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Prompt", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    width: 90%;
    gap: 2rem;
}

.buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttom-left {
    display: flex;
    gap: 3rem;
    max-width: 50%;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-width: 350px;
}

.product-img > img {
    width: 350px;
    height: 350px;
    object-fit: contain;
}

.product-detail {
    padding-top: 2rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.btn {
    text-decoration: none;
    background-color: #678345;
    padding: 0.25rem 0.5rem;
    color: white;
    border-radius: 13px;
}

.detail-text {
    font-size: 25px;
}

.bottom-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 60%;
}

.textarea > h3 {
    font-size: 30px;
}

textarea {
    border-radius: 15px;
}
